[[source]]
url = "https://e1079458:cmVmdGtuOjAxOjE3NzI2OTgxMTU6U1JmM014TFlDRkRreVVsMEZHTE5FNDloRXNm@artifactory.fis.dev/artifactory/api/pypi/apexsecfin-pypi-dev/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
crewai = "*"
crewai-tools = "*"
langchain-community = "*"
black = "*"
python-dotenv = "*"
jira = "*"
streamlit = "*"
streamlit-chat = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.11.0"
