<mat-horizontal-stepper [linear]=false>
  <mat-step label="Create Account" state="phone" [stepControl]="createNewAccount">
    <form [formGroup]="createNewAccount" novalidate (ngSubmit)="onSubmit()" class="stepper-form">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Create New Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
                <!-- <mat-icon matSuffix>people</mat-icon> -->
                <mat-hint>Please enter your user name</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" formControlName="email" >
                <mat-error *ngIf="createNewAccount.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-hint>We'll never share your email with anyone else</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Enter a 15 alphanumeric chars ...</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select placeholder="Role" formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{ role.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="createNewAccount.controls['role'].hasError('required')">
                  Role is <strong>required</strong>
                </mat-error>
                <!-- <mat-icon matSuffix>path</mat-icon> -->
              </mat-form-field>
            </div>
          </div>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>


  <mat-step label="User Details" state="chat">
    <form [formGroup]="userDetails" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Create User Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="firstname" formControlName="firstname">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="lastname" formControlName="lastname">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Phone" formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" formControlName="country">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>State</mat-label>
                <mat-select placeholder="State" formControlName="state">
                  <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix>path</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" type="button" matStepperNext>Next</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

  <mat-step label="Business Details">
    <form [formGroup]="businessDetails" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Business Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company Name</mat-label>
                <input matInput placeholder="Company" formControlName="company">
                <mat-hint>Enter your company name</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company Registered ID</mat-label>
                <input matInput placeholder="Company ID" formControlName="companyID">
                <mat-hint>Enter your company registered ID</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company Email</mat-label>
                <input matInput placeholder="Business email" formControlName="businessEmail">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Company Contact</mat-label>
                <input matInput placeholder="Business phone" formControlName="businessPhone">
                <mat-hint>Enter your company contact number</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
