<!DOCTYPE html>
<html>
<head>

<title> CSS Login Screen Tutorial </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>MANAGE LISTS </h3>
    
          </div>
        </div>
        <form class="login-form">
            <p>Please enter new joiners list</p>
            <input type="file" class="file-upload" placeholder="username"onchange="console.log(event.target.files)">
            <p>Please enter experts list</p>
            <input type="file" class="file-upload" placeholder="username"onchange="console.log(event.target.files)">
          <button>UPLOAD</button>
  
        </form>
      </div>
    </div>
</body>
</body>
</html>