<mat-toolbar color="primary" class="app-toolbar">
  <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"> -->
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav()">
    <mat-icon *ngIf="!isSideNavOpen" aria-label="Side nav toggle icon">menu</mat-icon>
    <mat-icon *ngIf="isSideNavOpen" aria-label="Side nav toggle icon">arrow_back</mat-icon>
  </button>
  <span>Admin portal</span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/accounts'"> Accounts </a>
    <a mat-button [routerLink]="'/create-account'"> Create Account </a>
    <a mat-button [routerLink]="'/contacts'"> Contacts </a>
    <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
    <a mat-button [routerLink]="'/activities'"> Activities </a>
    <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav #drawer class="sidenav" mode="side" opened="true" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>home/mat-icon> Home</mat-icon>
      </mat-list-item> -->

      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon >home</mat-icon>
        <span >Home</span>
      </a>
      <a *ngFor="let item of menuItems" mat-list-item routerLink="/{{item.title}}" routerLinkActive="active">
        <mat-icon [color]="item.color">{{item.icon}}</mat-icon>
        <span >{{item.title | titlecase}}</span>
      </a>

      <!-- <mat-list-item *ngFor="let item of menuItems" routerLink="/{{item.title}}" routerLinkActive="active">
        <mat-icon>notifications_none</mat-icon> Notification
      </mat-list-item> -->

      <app-nested-nav-item parent="User" [children]="[
          {name:'User list2', url:'list'},
          {name:'Add user', url:'add'},
          {name:'User list2', url:'edit'}]">
      </app-nested-nav-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
    <div>Some footer content goes here</div>
  </mat-sidenav-content>
</mat-sidenav-container>
