<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p>Enter the Atrribute Name</p>
  <mat-form-field>
    <mat-label>Attribute</mat-label>
    <input matInput [(ngModel)]="data.attribute">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Enter the Atrribute Name</p>
  <mat-form-field>
    <mat-label>Attribute</mat-label>
    <input matInput [(ngModel)]="data.attribute">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="addRow(data.attribute)">Save</button>
</div>
